@import 'vars';

.Experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    width: calc(100% - 48px);
    max-width: 1024px;
    text-align: left;
  }
}

.TodoSearch {
  outline: none;
  height: 45px;
  width: 100%;
  max-width: 1024px;
  border: none;
  color: white;
  border-radius: 25px;
  background: #202635;
}

.TodoSearch::placeholder {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.8);
}


// .TodoSearch {
//   background: var(--white);
//   padding-left: 12px;
//   margin: 0 30px;
//   height: 50px;
//   width: calc(100% - 60px);
//   font-size: var(--md);
//   text-align: left;
//   font-weight: 400;
//   color: var(--light-gray);
//   border: none;
//   border-radius: 10px;
// }

.TodoSearch:focus {
  outline-color: var(--light-gray);
}

.NotFoundMessage {
  padding: 30px;
  word-break: break-word;
}