@import 'vars';

.ExperienceItem {
	width: 220px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202635;
  border-radius: 15px;
  position: relative;
}

.ExperienceItem:last-child {
  margin-right: 20px;
}

.ExperienceItem img {
	width: 200px;
	height: 100px;
	border-radius: 20px;
	object-fit: cover;
}

.Experience-img__container {
  position: relative;
  width: 200px;
	height: 100px;
}
.Experience-img__container:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
  border-radius: 20px;
}

.experience-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
}
.experience-info figure {
	margin: 0;
}
.experience-info figure img {
	width: 25px;
	height: 25px;
}
.experience-info div p:nth-child(1) {
	font-weight: bold;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 4px;
}
.experience-info div p:nth-child(2) {
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 0;
	color: var(--very-light-pink);
}
// @media (max-width: 640px) {
// 	.cards-container {
// 		grid-template-columns: repeat(auto-fill, 140px);
// 	}
// 	.ExperienceItem {
// 		width: 140px;
// 	}
// 	.ExperienceItem img {
// 		width: 140px;
// 		height: 140px;
// 	}
// }

.experience-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top:10px;
  height:65%;
  width: 80%;
  position: absolute;
  top: 0;
  color: white;
}

.experience-details__title{
  font-size: 20px;
}