@import 'vars';

.main-container {
  padding-left: 20px;
  margin: 30px 0;
  h1, h3 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.ProductList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 220px);
  width: 100%;
  gap: 20px;
  grid-auto-flow: column;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.ProductList::-webkit-scrollbar {
  border-radius: 15px;
  background-color: #202635;
  width: 10px;
  height: 10px;
}

.ProductList::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(90deg, #EF9183 0%, #F5BA93 100%);
}

@media (min-width: 650px) {
	.main-container {
		h1, h3 {
      text-align: center;
    }
	}
}
