.LoadingExp-container {
  background: linear-gradient(135.96deg, #2F394B 0%, #212A3A 101.74%);
  color: #F4F6FA;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 34px;
  width: calc(100% - 20px);
  border-radius: 20px;
  padding: 15px 10px;
  border: 0.2px solid rgba(217, 217, 217, 0.15);
  filter: drop-shadow(14px 18px 34px rgba(0, 0, 0, 0.32));
  border-radius: 15px;
}

.LoadingExp-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  width:80%;
  padding-left: 15px;
  text-align:left;
}

.Loading-completeIcon, .LoadingExp-deleteIcon {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.Loading-completeIcon,
.LoadingExp-deleteIcon {
  background: linear-gradient(90deg, rgb(56, 63, 80), rgba(46, 50, 57, 1));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

.LoadingExp-container {
  background: linear-gradient(90deg, rgba(46, 50, 57, 1), rgb(56, 63, 80));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

