@import 'vars';

.container-sections{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;

}

.Section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 24px 30px;
  height: 130px;
  background-color: #202635;
  border-radius: 15px;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

.section-divider{
  height: 100%;
  width: 40%;
  border-radius: 15px 100px 50px 15px;
  background: linear-gradient(90deg, #EF9183 0%, #F5BA93 100%);
}

.section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  p {
    font-weight: bold;
    font-size: 20px;
  }
}

@media (max-width:1060px) {
  .Section {
    height: 80px;
    width: calc(100% - 48px);
  }
}